.home-container{
    margin: var(--margin-y) 0;
    padding: 0 var(--padding-container);
}

.home-container .banner{
    border-radius: var(--padding-input);
    height: 600px;
    object-fit: cover;
    background-image: url("https://img.freepik.com/premium-photo/photocomposition-horizontal-shopping-banner-with-woman-big-smartphone_23-2151201773.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner {
    margin: var(--margin-y) 0;
}

.banner::before {
    content: "";
    background-color: rgba(36, 35, 35, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--padding-input);
    z-index: 1;
}

.banner .title{
    font-size: 50px;
    position: absolute;
    z-index: 2;
    color: white;
    top: 30%;
    left: 40%;
}

.banner .des {
    font-size: var(--primary-large);
    position: absolute;
    z-index: 2;
    color: white;
    top: 48%;
    left: 43%;
}

.banner .btn{
    background-color: var(--primary-color);
    position: absolute;
    z-index: 2;
    color: white;
    top: 60%;
    left: 48%;
    border: 1px solid var(--primary-color);
    padding: var(--padding-input);
    border-radius: var(--border-input);
    cursor: pointer;
}

/* listbox-container */

.listbox-container .card {
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 30px;
}

.listbox-container .card .image {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--border-input);

}

.listbox-container .card .content .title{
    font-size: var(--primary-large);
}

.listbox-container .card .content .des{
    font-size: var(--primary-small);
    color: #a8a8a8;
}

.listbox-container .card .content .price{
    font-weight: bold;
}