.header-container{
    height: 60px;
    display: flex;
    padding: var(--padding-card);
    position: relative;
    align-items: center;
}

.header-container .title{
    cursor: pointer;
    font-size: var(--primary-big);
    font-weight: bold;
}

.header-nav {
/* position: relative; */
}

.header-nav .list-nav {
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 10%;
    right: 4%;
}

.header-nav .list-nav li {
    font-size: var(--primary-large);
    padding: var(--padding-input);
}

.header-nav .list-nav .btn{
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: var(--border-input);
    cursor: pointer;
}

.header-nav .info{
    position: absolute;
    top: 90%;
    right: 0px;
    width: 250px;
    height: 180px;
    background-color: var(--primary-color);
    border-radius: var(--border-card);
    z-index: 3;
}

.header-nav .info ul{
    list-style-type: none;
    /* flex-direction: column; */
}

.header-nav .info ul li{
    color: white;
    font-size: var(--primary-large);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.header-nav .info ul li:hover {
    color: black;
    background-color: var(--color-login);
    border-radius: 0 var(--border-card) 0 0;
}