.footer-container {
    margin-top: 15rem;
    width: 100%;
    height: 300px;
    background-color: var(--color-register);
    display: flex;
}

.footer-container .footer-left, .footer-container .footer-center, .footer-container .footer-right{
    width: 30%;
    padding: var(--padding-card);
}

.footer-container .footer-left .social-media{
    list-style-type: none;
    display: flex;
}

.footer-container .footer-left .social-media li{
    margin: var(--margin-y) 0 0 0;
    padding: var(--padding-card);
}

.footer-container .footer-left .social-media li .icon{
    font-size: 30px;
    cursor: pointer;
}

.facebook{
    color: blue
}

.instagram{
    color: rgb(226, 100, 121)
}

.zalo{
    color: rgb(55, 55, 194)
}

.footer-center{display: flex;}

.footer-center .list-info{
    margin: 0 var(--margin-input);
}

.footer-center .list-info ul {
    list-style: none;
}

.footer-center .list-info ul li{
    line-height: var(--line-height);
}

.footer-center .list-info ul .title{
    font-size: var(--primary-large);
    font-weight: bold;
}

.footer-right .image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-input);
}