:root {
    --primary-big: 24px;
    --primary-large: 18px;
    --primary-small: 14px;
    --primary-color: #0EB9EF; 
    --padding-card: 20px;
    --padding-input: 10px;
    --border-card: 15px;
    --border-input: 8px;
    --margin-y: 50px;
    --margin-input: 20px;
    --color-register: #C9DCF9;
    --color-login: #F9C9E2;
    --color-btn-register: #95BDFF;
    --color-btn-login: #FB6F92;
    --padding-container: 100px;
    --line-height: 2rem
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #F9C9E2;
}

::-webkit-scrollbar-thumb{
    background-color: #0EB9EF;
}