.package-detail-container{
    padding: 0 var(--padding-container);
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: var(--padding-input);
}

.icon-check{
    color: green;
    font-size: var(--primary-big);
    margin-left: 45%;

}

.package-detail-container .btn{
    margin: var(--margin-input) 0;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: var(--border-input);
    cursor: pointer;
    color: white;
    padding: var(--padding-input);
}

.package-detail-container .description{
    display: flex;
    background-color: var( --color-register);
    margin: var(--margin-input) 0;
    padding: var(--padding-input);
    border-radius: var(--border-card);
}

.package-detail-container .description .image{
    width: 500px;
    height: 400px;
    margin-left: 10%;
    object-fit: cover;
    border-radius: var(--border-input);
}

.description .list-info li {
    border: none;
}
